<section class="login flex justify-center pt-24 bg-slate-100">
    <div class="w-full max-w-sm">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="form-label block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>

                <input type="email"
                    class="form-control shadow-apperanec-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" placeholder="Username" aria-describedby="emailHelp">
            </div>
            <div class="mb-6 ">
                <label for="email" class="form-label block text-gray-700 text-sm font-bold mb-2">Email</label>
                <input type="email"
                    class="form-control shadow-apperance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="email" for="email" placeholder="email-id" aria-describedby="emailhelp">
            </div>
            <div class="mb-6 ">
                <label for="exampleInputPassword1"
                    class="form-label block text-gray-700 text-sm font-bold mb-2">Password</label>
                <input type="password"
                    class="form-control shadow-apperance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="password" for="password" placeholder="password" aria-describedby="passwordhelp">
                <!-- <p class="text-red-500 text-xs italic"> Please choose a password.</p> -->
            </div>

            <div class="flex items-center justify-between">
                <button type=""
                    class="text-white font-bold py-2 px-4 rounded-full border border-gray-400 w-28 btn-primary">Sign
                    In</button>

                <a class="inline-block align-baseline font-bold text-sm hover:text-blue-800 cursor-pointer text-sky-400 mx-3"
                    href="/login"> Already have an account ?</a>

            </div>
        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy: 2020 Victor's-Vorld. All rights reserved.
        </p>
    </div>

</section>