@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';
$primary: rgb(209, 122, 40);
$secondary: #cfc0bd;
body{
    background: $primary;
    font-family: 'Lato','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-font-smoothing: antialiased; 
    color:$dark;
}
nav li:last-child a{
    background:$primary;
    height:35%;
    width:35%;
    color:$pure;
    &:hover{ 
        background:$primary-hover;
    }
}
nav li a{
    transition:$smooth;
    &:hover{
        color:$primary;
    }
}
section.hero{
    background: $secondary;
}
.btn-primary{
    background : $primary;
    transition : $smooth;
    &:hover{
        background:$primary-hover;
    }
}
section.cart{
    background: $secondary;
    .cost{
        color:$primary;
    }
}
section.menu{
    background: $secondary;
    .menu-item{
        background:$primary;
        color:$pure;
        transition:$smooth;
        &:hover{
            background:$primary-hover;
        }
    }
}
section.login{
    background: $secondary;
min-height:calc(100vh - 86px);
a{
    color:$primary;
    &:hover{
        color:$primary-hover;
    }
}
}
.noty_theme__mint{
    border-radius:50px! important;
    padding-left:8px! important;

}