<section class="cart">
    <div class="order container mx-auto py-16">
        <div class="flex items-center justify-center  pb-4 my-4">
            <img style="height: 29px;
            width: 39px;" src="/img/cart-img2.png" alt="">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>
        <hr>
        <div class="pizza-list">
            <div class=" flex items-center my-8">
                <img class="w-24" src="/img/pizza_img_for_app.png" style="height: 48px;
                width: 59px;" alt="">
                <div class=" flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1pcs</span>
                <span class="font-bold text-lg"> $10.00</span>
            </div>
            <hr>
            <div class=" flex items-center  my-8">
                <img class="w-24" src="/img/pizza_img_for_app.png" style="height: 48px;
                width: 59px;" alt="">
                <div class=" flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1pcs</span>
                <span class="font-bold text-lg"> $10.00</span>
            </div>
            <hr>
            <div class=" flex items-center my-8">
                <img class="w-24" src="/img/pizza_img_for_app.png" style="height: 48px;
                width: 59px;" alt="">
                <div class=" flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1pcs</span>
                <span class="font-bold text-lg"> $10.00</span>
            </div>
            <hr>
            <div class="text-right py-4 ">

                <div>
                    <span class="text-lg font-bold">Total amount</span>
                    <span class="cost text-2xl font-bold ml-4">$10.00</span>
                </div>
                <div>
                    <form action="" class="mt-12">
                        <input class="border border-gray-400 p-2 w-1/2 my-4" type="text" placeholder="Phone Number ">
                        <input class="border border-gray-400 p-2 w-1/2 my-4" type="text" placeholder="Address ">
                        <div>
                            <!-- <button class="btn-primary px-6 py-2 rounded-full text-white mt-6 font-bold"
                                type="submit">Order Now
                            </button>    -->
                        </div>
                    </form>
                </div>
                <a href="" class="inline-block cursor-pointer px-6"> Login to Continue </a>
            </div>
        </div>
        <!-- <div class=" empty-cart py-16">
                            <div class="container mx-auto text-center">
                                <h2 class="text-3xl font-bold mb-2 mt-3">This is our cart page ..😃</h2>
                                <p class="text-gray-500 text-lg mb-12">You probably haven't ordered a pizza yet.
                                    <br> To order a pizza , go to the main page.
                                </p>
                                <img class="w-2/5 mx-auto" src="/img/empty-cart2.png" alt="">
                                <a href="/"
                                    class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go
                                    Back </a>
                            </div>

                        </div> -->
</section>